@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');

* {
    font-family: 'Comic Neue', cursive;
}

body {
    display: grid;
    padding: 20px;
    background-color: white;
    justify-items: center;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.projects-container {
    display: grid;
    grid-template-rows: .25fr 1fr 1fr 1fr;
}

#new-project-form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.tasks-container {
    display: grid;
    grid-template-rows: .25fr 1fr 1fr 1fr;
}

#addTaskForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

.selected-project {
    color: white;
    background-color: green;
}

.high {
    background-color: #66FF00;
}

.normal {
    background-color: #4FFFB0;
}

.low {
    background-color: #ACE1AF;
}

.delete-project {
    height: 20px;
}

.submit-button {
    height: 20px;
}

#editTaskForm {
    display: grid;
    gap: 5px;
    margin-bottom: 100px;
}

.edit-task {
    margin-right: 10px;
}

.taskFormHeading {
    margin: 0px;
}